<div id="post-{{id}}-vote" class="vote-wrap">
  <input type="checkbox" class="vote-input like" name="vote-{{id}}" id="like-button-{{id}}" value="like" {{#if liked}}
    checked="checked" {{/if}} data-post-id="{{id}}" style="display:none;">
  <label for="like-button-{{id}}" title="like"><i class="far fa-smile"></i> <span class="like-count" for="like-button-{{id}}">{{likes}}</span></label>
  <input type="checkbox" class="vote-input dislike" name="vote-{{id}}" id="dislike-button-{{id}}" value="dislike" {{#if disliked}}
    checked="checked" {{/if}} data-post-id="{{id}}" style="display:none;">
  <label for="dislike-button-{{id}}" title="dislike"><i class="far fa-frown"></i> <span class="like-count">{{dislikes}}</span></label>
</div>