<div class = "container">
  <article class="post-left">
    <div class="post-toolbar">
      <span>Posted {{format_date created_at}}</span>&nbsp;<span>By {{user.username}}</span>
    </div>
      <span>

        {{#if user.avatar_url}}
        <img class="place-avatar" src="{{user.avatar_url}}" />
        {{else}}
        {{!-- generic user icon in case user did not upload their own --}}
        <img class="embedded-map" src="../../images/generic-user-icon-24.jpg" /></a>
        {{/if}}
      </span>
  </article>
  <article class="post post-right">
    <div class="spd1">
      <a id="title" href="/post/{{id}}">
        <h1 class="post-title">{{title}}</h1>
      </a>
      <div class="dashboard-image-wrap">
        {{#if image_url}}
        <img class="place-image" src="{{image_url}}" title="{{image_url}}" />
        {{else}}
              {{!-- avatar is required - this is added as a failsafe --}}

        <img class="embedded-map" src="/images/no-post-image.png" /></a>
        {{/if}}
      </div>
    </div>
    <div class="spd2">
      <div class="description">{{description}}</div>
    </div>
    <div>
      {{#if loggedIn}}
        {{#if user_id}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit Blog Post</a>
        {{/if}}
      {{/if}}
    </div>
  </article>
</div>


