<div></div>
<article class="post">
  <div>
    <a id="title" href="/post/{{post.id}}">
      <h1 class="post-title">{{post.title}}</h1>
    </a>
    <img class="post-image" src="{{post.image_url}}" />
    <div>
      Posted by <a href="/user/{{post.user.post_author_id}}">{{post.user.post_author}}</a>
      on {{format_date post.created_at}}
    </div>
  </div>
  <div>
    <div class="description">{{post.description}}</div>
  </div>
  <div class="social-bar">
    <div><a id="comment-count" href="/post/{{post.id}}">{{post.comment_count}} {{format_plural 'comment' post.comment_count}}</a></div>
    {{> like-controls post}}
  </div>
</article>
{{#if showComments}}
{{> comments}}
{{/if}}
<script src="/javascript/vote.js"></script>